<div>
    <SuiContainer>
        <SuiGrid>
            <SuiGridRow :columns="3" verticalAlign="middle">
                
                <SuiGridColumn style="margin-top: 20px" textAlign="left" :width="5">
                    <h3 is="sui-header">
                        <sui-icon name="list alternate outline" style="color: #3b5998" />
                        <sui-header-content>Liste des parties</sui-header-content>
                      </h3>
                </SuiGridColumn>
                <SuiGridColumn style="margin-top: 20px" textAlign="center" :width="6">
                    <RouterLink :to="{ name: 'CreateGameFrame' }">
                        <SuiButton circular color="facebook">Nouvelle partie</SuiButton>
                    </RouterLink>
                </SuiGridColumn>
                <SuiGridColumn style="margin-top: 20px" textAlign="right" :width="5">
                    <RouterLink :to="{ name: 'CreateGameFrame' }">
                        <SuiButton size="mini" @click="$router.back()" basic left icon label-position="right" icon="arrow up">Liste des parties</SuiButton>
                    </RouterLink>
                    
                    <SuiButton size="mini" @click="disconnectModal = true" basic left icon color="red" icon="lock"></SuiButton>
                </SuiGridColumn>
            </SuiGridRow>
        </SuiGrid>
        <sui-modal basic inverted v-model="disconnectModal">
            <sui-modal-header style="text-align: center; ">Se déconnecter ?</sui-modal-header>
            
            <sui-modal-actions style="text-align: center; margin-left: -10px">
                <div is="sui-button-group">
                    <sui-button color="red" @click.native="disconnect()">
                        Confirmer
                    </sui-button>
                    <sui-button-or text="ou" />
                    <sui-button @click.native="disconnectModal = false">
                        Annuler
                    </sui-button>
                </div>
            </sui-modal-actions>
          </sui-modal>
        <SuiDivider></SuiDivider>
        <SuiGrid>
            <SuiGridRow>
                <SuiGridColumn>
                    <SuiSegment>
                        test
                    </SuiSegment>
                </SuiGridColumn>
            </SuiGridRow>
        </SuiGrid>
    </SuiContainer>
</div>