
    <SuiContainer style="height: 100%">

        <SuiGrid verticalAlign="middle" style="min-height: 10vh !important">
            <SuiGridRow :columns="3">
                
                <SuiGridColumn style="margin-top: 20px" textAlign="left">
                    <h3 is="sui-header">
                        <sui-icon name="dolly" color="blue" />
                        <sui-header-content>Ajouter une partie</sui-header-content>
                      </h3>
                </SuiGridColumn>
                <SuiGridColumn style="margin-top: 20px; opacity: 0" textAlign="center">
                    <SuiButton circular color="facebook" disabled>Créer une nouvelle partie</SuiButton>
                </SuiGridColumn>
                <SuiGridColumn style="margin-top: 20px" textAlign="right">
                    <RouterLink :to="{ name: 'GamesListFrame' }">
                        <SuiButton size="mini" basic left icon label-position="right" icon="arrow up">Liste des parties</SuiButton>
                    </RouterLink>
                </SuiGridColumn>
            </SuiGridRow>

        </SuiGrid>
        <SuiDivider></SuiDivider>
        <SuiGrid verticalAlign="middle" style="min-height: 90vh !important">
            <SuiGridRow>
                <SuiGridColumn>
                    <SuiSegment raised style="padding: 40px" stacked="tall">

                        <SuiForm size="medium">
                            <SuiFormField>
                                <input v-model="name" type="text" placeholder="Nom de la partie" />
                            </SuiFormField>
                        </SuiForm>

                        <SuiButton :disabled="gameCreateLoading" :loading="gameCreateLoading" size="medium" color="blue" @click="createGame()" style="margin-top: 40px">Ajouter la partie</SuiButton>
                        

                    </SuiSegment>
                </SuiGridColumn>
            </SuiGridRow>

        </SuiGrid>

    </SuiContainer>
