<SuiContainer style="padding-bottom: 20px; padding-top: 0px">

    <SuiGrid>
        <SuiGridRow :columns="3" verticalAlign="middle">
            
            <SuiGridColumn style="margin-top: 20px" textAlign="left" :width="6">
                <h3 is="sui-header">
                    <sui-icon name="key" color="orange" />
                    <sui-header-content>Se connecter</sui-header-content>
                  </h3>
            </SuiGridColumn>
            <SuiGridColumn style="margin-top: 20px; opacity: 0" textAlign="center" :width="2">
                <RouterLink :to="{ name: 'CreateGameFrame' }">
                    <SuiButton circular color="facebook">A</SuiButton>
                </RouterLink>
            </SuiGridColumn>
            <SuiGridColumn style="margin-top: 20px" textAlign="right" :width="8">
                <SuiButtonGroup size="mini">
                    <SuiButton class="login-jump-button" size="mini" @click="$router.push({ name: 'RegisterFrame'})" left icon label-position="right" icon="random">Pas de compte ? S'inscire</SuiButton>
                    <SuiButton size="mini" @click="$router.push({ name: 'MainFrame' })" basic left icon label-position="right" icon="arrow up">Menu principal</SuiButton>
                </SuiButtonGroup>
                
            </SuiGridColumn>
        </SuiGridRow>
    </SuiGrid>
    <SuiDivider></SuiDivider>

    <SuiSegments>
        <SuiSegment color="violet">

            <h4 is="sui-header">
                Votre identifiant et mot de passe
            </h4>
            <SuiDivider></SuiDivider>
            <SuiForm>

                <sui-form-fields>
                    <sui-form-field>
                        <input v-model="loginFields.username" type="text" placeholder="Votre pseudo" />
                        
                    </sui-form-field>
                    <sui-form-field>
                        <input v-model="loginFields.password" type="password" placeholder="Votre mot de passe" />
                    </sui-form-field>
 
                </sui-form-fields>

            </SuiForm>

        </SuiSegment>

    </SuiSegments>

    
    

    

    <SuiButton color="orange" @click="login()">Se connecter !</SuiButton>

</SuiContainer>