<div>

    <input v-model="registerFields.firstname" type="text" placeholder="firstname" />
    <input v-model="registerFields.lastname" type="text" placeholder="lastname" />
    <input v-model="registerFields.pseudo" type="text" placeholder="pseudo" />
    <input v-model="registerFields.email" type="text" placeholder="email" />
    <input v-model="registerFields.address" type="text" placeholder="address" />
    <input v-model="registerFields.password" type="password" placeholder="password" />

    <button @click="register()">S'inscrire</button>

</div>