<div class="root" style="padding: 10px">
    <SuiGrid>
        <SuiGridRow textAlign="left" :columns="10" v-if="true">
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
        </SuiGridRow>

        <SuiGridRow :columns="2" verticalAlign="middle" style="height: 100vh;">
            <SuiGridColumn :width="9" textAlign="center">
                <div class="game-frame" style="width: 100%;max-width: 600px; height: 140px; background-color: blue"></div>
            </SuiGridColumn>

            <SuiGridColumn :width="7" textAlign="left">
                <h2 is="SuiHeader">
                    <SuiIcon name="comments outline" />
                    <SuiHeaderContent>Chat</SuiHeaderContent>
                  </h2>
                <div class="ui segment tchat-frame" style="width: 100%; padding-top: 20px; height: calc(100vh - 180px); overflow-y: scroll;">
                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>
                </div>



            </SuiGridColumn>
        </SuiGridRow>
    </SuiGrid>
</div>