<SuiContainer class="root" style="padding-top: 15px; height: 100vh">
    <!--!!!! <SuiButton style="position: absolute; width: 100%; right: -3px; bottom: 0px; border-radius: 0px; opacity: 0.2; z-index: 999999; color: black" size="mini" @click="openExternal()" color="yellow">Débloquer certificat</SuiButton> -->
    <SuiGrid verticalAlign="middle" style="width: 701px !important; margin-left: auto; margin-right: auto">
        <SuiGridRow :columns="3">
                
            <SuiGridColumn style="max-height: 40px; overflow: hidden" textAlign="left" :width="6">
                <h3 is="sui-header">
                    <sui-icon name="gamepad" color="violet" />
                    <sui-header-content>{{ gameInfos.game.name }}</sui-header-content>
                  </h3>
            </SuiGridColumn>
            <SuiGridColumn textAlign="right" :width="4">
                <sui-statistic size="tiny">
                    <sui-statistic-value>{{ elapsedTime }}</sui-statistic-value>
                    <sui-statistic-label>secondes écoulées</sui-statistic-label>
                  </sui-statistic>
            </SuiGridColumn>
            <SuiGridColumn textAlign="right" :width="5">
                <sui-statistic size="tiny">
                    <sui-statistic-value>{{ remainingTime }}</sui-statistic-value>
                    <sui-statistic-label>secondes restantes</sui-statistic-label>
                  </sui-statistic>
            </SuiGridColumn>
            
        </SuiGridRow>
    </SuiGrid>
    <SuiDivider style="width: 670px; margin: 10px auto" />
    <SuiGrid verticalAlign="middle" style="height: calc(100vh - 100px);margin-top: -5px">
        <SuiGridRow textAlign="left" :columns="10" v-if="true" style="padding-top: 0px; padding-bottom: 0px">
            <!-- <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn> -->
        </SuiGridRow>


        <SuiGridRow :columns="1" verticalAlign="middle" textAlign="center">
            <SuiGridColumn textAlign="center">
                <canvas class="ui segment raised" ref="videoCanvas" id="videoCanvas" width="670" height="370" style="background-color: #85858573; width: 670px; height: 370px; margin: 0 auto;">
                    <p>
                      Please use a browser that supports the Canvas Element, like
                      <a href="http://www.google.com/chrome">Chrome</a>,
                      <a href="http://www.mozilla.com/firefox/">Firefox</a>,
                      <a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
                    </p>
                </canvas>
            </SuiGridColumn>

            <!-- <SuiGridColumn :width="7" textAlign="left"> -->
                <!-- <h2 is="SuiHeader">
                    <SuiIcon name="comments outline" />
                    <SuiHeaderContent>Chat</SuiHeaderContent>
                  </h2>
                <div class="ui segment tchat-frame" style="width: 100%; padding-top: 20px; height: calc(100vh - 180px); overflow-y: scroll;">
                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>
                </div> -->



            <!-- </SuiGridColumn> -->
        </SuiGridRow>
        
        <SuiGridRow :columns="2" style="width: 701px !important; margin: 0 auto; padding-top: 0px">
            <SuiDivider style="width: 670px; margin: 10px auto; margin-top: 0px; margin-bottom: 15px" />
            <SuiGridColumn>
                <sui-progress progress state="active" color="yellow" indicating :percent="botContext.energy" label="ENERGIE"/>
            </SuiGridColumn>
            <SuiGridColumn>
                <sui-progress progress state="active" color="red" :percent="botContext.thermal" label="SURCHAUFFE"/>
            </SuiGridColumn>
            
        </SuiGridRow>
    </SuiGrid>
    <EndOfGameModal :isOpen="isEndOfGame" :gameId="gameId"/>
    <HelpModal :isOpen="isHelpModalOpened" />
</SuiContainer>