<SuiContainer class="root" style="padding-top: 5px;">
    <SuiButton style="position: absolute; width: 580px; right: -3px; top: 0px; border-radius: 0px; opacity: 0.5" size="mini" @click="openExternal()" color="yellow">Pour les testeurs : en cas de problème de connexion, essayez de cliquer ici et d'accepter le certificat (temporaire)</SuiButton>
    <SuiGrid>
        <SuiGridRow :columns="2" style="width: 701px !important; margin: 0 auto" verticalAlign="middle">
            <SuiGridColumn style="margin-top: 20px" textAlign="left" :width="3">
                <RouterLink :to="{ name: 'CreateGameFrame' }">
                    <SuiButton @click="$router.back()" basic left icon label-position="left" icon="arrow left">Retour</SuiButton>
                </RouterLink>
            </SuiGridColumn>
            <!-- <SuiGridColumn :width="13" style="margin-top: 20px;position: absolute" textAlign="right"> -->
                
                    <!-- <SuiButton style="position: absolute; width: 100%; right: 0px; top: 0px" size="mini" @click="openExternal()" basic color="yellow">Pour les testeurs : en cas de problème de connexion, essayez de cliquer ici et d'accepter le certificat (temporaire)</SuiButton> -->
                
            <!-- </SuiGridColumn> -->
        </SuiGridRow>
        <SuiGridRow textAlign="left" :columns="10" v-if="true" style="padding-top: 0px; padding-bottom: 0px">
            <!-- <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn>
            <SuiGridColumn>
                Toolbar
            </SuiGridColumn> -->
        </SuiGridRow>


        <SuiGridRow :columns="1" verticalAlign="middle" textAlign="center">
            <SuiGridColumn textAlign="center">
                <canvas class="ui segment raised" ref="videoCanvas" id="videoCanvas" width="670" height="392" style="background-color: #85858573; width: 670px; height: 392px; margin: 0 auto">
                    <p>
                      Please use a browser that supports the Canvas Element, like
                      <a href="http://www.google.com/chrome">Chrome</a>,
                      <a href="http://www.mozilla.com/firefox/">Firefox</a>,
                      <a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
                    </p>
                </canvas>
            </SuiGridColumn>

            <!-- <SuiGridColumn :width="7" textAlign="left"> -->
                <!-- <h2 is="SuiHeader">
                    <SuiIcon name="comments outline" />
                    <SuiHeaderContent>Chat</SuiHeaderContent>
                  </h2>
                <div class="ui segment tchat-frame" style="width: 100%; padding-top: 20px; height: calc(100vh - 180px); overflow-y: scroll;">
                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>

                    <div class="ui message" style="position: relative">
                        <SuiLabel basic style="position: absolute; top: -12px; right: -8px"><b>Username</b> - <b>datetime</b> <br /></SuiLabel>
                        Lorem ipsum 
                    </div>
                </div> -->



            <!-- </SuiGridColumn> -->
        </SuiGridRow>
        <SuiGridRow :columns="3" style="width: 701px !important; margin: 0 auto">
            <SuiGridColumn :width="6">
                <sui-progress color="yellow" indicating :percent="'77'" label="ENERGIE"/>
            </SuiGridColumn>
            <SuiGridColumn :width="5" textAlign="right">
                <sui-statistic size="tiny">
                    <sui-statistic-value>{{ elapsedTime }}</sui-statistic-value>
                    <sui-statistic-label>secondes écoulées</sui-statistic-label>
                  </sui-statistic>
            </SuiGridColumn>
            <SuiGridColumn :width="5" textAlign="right">
                <sui-statistic size="tiny">
                    <sui-statistic-value>{{ remainingTime }}</sui-statistic-value>
                    <sui-statistic-label>secondes restantes</sui-statistic-label>
                  </sui-statistic>
            </SuiGridColumn>
        </SuiGridRow>
    </SuiGrid>
</SuiContainer>